<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.xtext.graphview.selectionStrategy">
      <strategy
            class="org.eclipse.xtext.graphview.providers.EcoreEditorElementSelectionStrategy">
      </strategy>
      <strategy
            class="org.eclipse.xtext.graphview.providers.JavaEditorSelectionStrategy">
      </strategy>
   </extension>

</plugin>
